.gradle/
.idea/
app/build/
build/
local.properties
app/app.iml
gradle.properties
gradlew
gradlew.bat
setting.gradle
/.DS_Store
MMWD.iml

/app/.DS_Store
/app/src/.DS_Store
/app/src/main/.DS_Store
/app/src/main/java/.DS_Store
/app/src/main/java/qfpay/.DS_Store
/app/src/main/java/qfpay/wxshop/ui/.DS_Store
/app/src/main/java/qfpay/wxshop/ui/main/.DS_Store